* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.container {
  max-width: 1200px;    
  margin: 0 auto;
}




.logo {
  display: flex;
  gap: 11px;
}

.logo__text {
  max-width: 57px;
  font-size: 15px;
  line-height: 1.172;
  font-weight: 400;
  color: #000;
}



.btn {
  padding: 8px 16px;
  background: transparent;
  border: 1px solid grey;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 6px;
  outline: none;
  cursor: pointer;
}

.active {
  background: #1890FF;
  color: white;
  border: 1px solid #1890FF;
}

.btn-outline {
  box-shadow: 0px 0px 2px 0px rgba(14, 0, 0, 0);
  color: grey;
}

main {
  background: linear-gradient(180deg, rgba(245, 245, 245, 0.00) 1.04%, #F5F5F5 100%) ;
}

.promo__container {
  background: url(./img/banner-img.png), #FFF1B8;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  width: 100%;
  border-radius: 10px; 
}

.promo__offer {
  max-width: 50%;
  padding: 68px 0 68px 70px;    
}

.promo__title {
  font-size: 39px;
  line-height: 1.172;
  margin-bottom: 16px;
  font-weight: 700;
  padding-right: 70px;
}

.promo__text {
  font-size: 24px;
  line-height: 1.172;
}

.products__container {
  padding: 56px 0 90px;
}

.products__header {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
}

.products__title {
  font-size: 36px;
  font-weight: 700;
}

.products__search {
  min-width: 306px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid grey;
  padding: 5px 12px;
}

.products__search:focus {
  outline: none;
}

.products__wrapper {
  padding: 44px 0 90px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 24px;
}

.products__card {
  width: calc((100% - 48px) / 3);
  border-radius: 7px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  text-decoration: none;
}

.card__img {
  width: 100%;
}

.card__img img {
  width: 100%;
}

.card__description {
  padding: 20px 24px 34px;
  margin-bottom: 20px;
}

.product-card__description {
  margin-bottom: 0;
}

.card__title,
.card__status {
  display: flex;
}

.card__title {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card__name {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.333;
  color: #000;
}

.products__search::placeholder {
  color: #BFBFBF;
  font-size: 16px;
  line-height: 24px;
}

.card__title {
  justify-content: space-between;
}

.card__tag {
  background: #262626;
  color: white;
  font-size: 12px;
  line-height: 1.667;
  border-radius: 2px;
  padding: 1px 8px;
  display: flex;
  align-items: center;
}

.card__img {
  margin-bottom: 20px;
}

.card__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  flex-wrap: wrap;
}

.card__rate {
  color: #FFC107;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.778;
}

.card__price,
.card__type {
  color: #8C8C8C;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.778;
}

.card__type {
  position: relative;
}

.card__type::before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #8C8C8C;
  position: absolute;
  left: -14px;
  top: 14px;
}

.product-card__name {
  font-size: 24px;
  line-height: 32px;
}

.product-card__text {
  font-size: 18px;
  color: #8C8C8C;
  margin: 10px 0 24px;
}

.product-card__controls {
  display: flex;
  gap: 30px;
  align-items: center;
}

.product-card__price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
}




@media (max-width: 991px) {
  .promo__offer {
      max-width: 100%;
      padding: 68px;    
  }

  .promo__container {
      background:  #FFF1B8;
      
  }

  .products__card {
      width: calc((100% - 48px) / 2);
  }
}
@media (max-width: 768px) {
  .products__card {
      width: 100%;
  }
}